*{
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin:0;
    padding:0;
    font-family: arial;
}

/*backgound*/
.container{
    background-image:url(/page3/piktyur/We\ bare\ bears\ 🐻.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    height:100%;
    width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap:wrap;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* WebKit browsers */
  }
  
.holder {
     background-color: transparent;
    width:400px;
    height: 300px;
    text-align:center;
    border-radius:30px;
    border:solid #fff;
    margin-top:150px;
}
.music-pic{
    background-color:black;
    width:150px;
    padding:10px 10px;
    margin-top:10px;
    margin-left:30px;
}
.img{

    height:120px;
    margin-top:1px;
    border-radius: 10%;
    
    
}
.name{
    
    position:relative;
    margin-left:190px;
    width:100px;
    margin-top:-100px;
}
h1{
    color:#fff;
    font-size:10px;
    font-size:20px;   
}
p{
    color:#fff;

}/*
.music{
background-color:blue;
width:300px;
height:50px
}*/



#progress{
    -webkit-appearance: none;
    width:70%;;
    height:6px;
    background:#fff;
    border-radius: 4px;
    cursor:pointer;
    margin-top: 10px;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance:none;
    background:#fff;
    width:30px;
    height:30px;
    border-radius:50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255. 26, 26, 0.22);
}
.controls{
 background-color: blue;
 width:80%;
 height:50px;
 display:inline-block;
 align-items:center;
 margin-top:15px;
}
.controls > div{
    background-color: #fff;
    width:50px;
    height:50px;
    display: inline-block;
    margin-left:20px;
    margin-right:20px;
}

/*
.controls img{
    height:40px
}

.controls{
    display:flex;
    margin-top:10px;   
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #fff;
	border-bottom: 25px solid transparent;
}


.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #fff;
	border-bottom: 25px solid transparent;
}



/*
.controls div{

    width:60px;
    height:60px;
    margin:20px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26 0.22);
    cursor:pointer;
}
.contols div:nth-child(2){
    transform: scale(1.5);
    background:brown;
    color:#fff;

}
/*
body{
    background-image: url(piktyur/hq720\ \(1\).jpg) ;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    
   
}
.container{
    background-color: beige;
    width:300px;
    height:500px;
    margin-top:150px;
    border-radius: 30px;
    

   
    
    
}
.pic{
    background-color: aqua;
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
    margin-top:40px
}
img{
    width:200px;
    height:200px;
}